/* -- smaller screens -- */
@media (max-width: 1100px) {
  body {
    .wrapper {
      width: 90%;
    }

  }
}

@media only screen and (max-width: 1180px) {
  .wrapper { width: 90% }
  #social {
    position: absolute;
    width: 82px 4px;
  }
}

/* -- tablets -- */
@media only screen and (max-width: 900px) {
  body {
    font-size: 85%;
  }
  #logo h1 {
    height: 35px;
    width: 35px;
  }
  #logo h2 {
    font-size: 2.2em;
  }
  #social {
    position: 72px;
  }
  col-3 p {
    column-count: 2;
  }
}
